<mat-horizontal-stepper linear #stepper>
  <mat-step [stepControl]="firstFormGroup" errorMessage="Name is required." completed="false">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Personal Details</ng-template>
      <app-text-form-field [data]="data[0]" [formgroup]="firstFormGroup"></app-text-form-field>
      <app-text-form-field [data]="data[1]" [formgroup]="firstFormGroup"></app-text-form-field>
      <app-phone-form-field [data]="data[2]" [formgroup]="firstFormGroup"></app-phone-form-field>
      <app-email-form-field [data]="data[3]" [formgroup]="firstFormGroup"></app-email-form-field>
      <div>
        <button (click)="next(stepper,firstFormGroup)" [disabled]="firstFormGroup.invalid">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" errorMessage="Address is required." completed="false">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Address Details</ng-template>
      <h4>Current Address</h4>
      <app-text-form-field [data]="data[4]" [formgroup]="secondFormGroup"></app-text-form-field>
      <app-text-form-field [data]="data[5]" [formgroup]="secondFormGroup"></app-text-form-field>
      <app-text-form-field [data]="data[6]" [formgroup]="secondFormGroup"></app-text-form-field>
      <app-text-form-field [data]="data[7]" [formgroup]="secondFormGroup"></app-text-form-field>
      <app-text-form-field [data]="data[8]" [formgroup]="secondFormGroup"></app-text-form-field>
      <hr/>
      <h4 style>Permanent Address</h4>
      <span class="example-list-section chkbox">
        <mat-checkbox class="example-margin" (change)="setPermanentAddress($event.checked)">Same As Current Address</mat-checkbox>
      </span>
      <app-text-form-field [data]="data[9]" [formgroup]="secondFormGroup"></app-text-form-field>
      <app-text-form-field [data]="data[10]" [formgroup]="secondFormGroup"></app-text-form-field>
      <app-text-form-field [data]="data[11]" [formgroup]="secondFormGroup"></app-text-form-field>
      <app-text-form-field [data]="data[12]" [formgroup]="secondFormGroup"></app-text-form-field>
      <app-text-form-field [data]="data[13]" [formgroup]="secondFormGroup"></app-text-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button (click)="next(stepper,secondFormGroup)" [disabled]="secondFormGroup.invalid">Next</button>
      </div>
    </form>
    
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup" errorMessage="Address is required." completed="false">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Experience Details</ng-template>
      <app-text-form-field [data]="data[14]" [formgroup]="thirdFormGroup"></app-text-form-field>
      <app-date-form-field [data]="data[15]" [formgroup]="thirdFormGroup"></app-date-form-field>
      <app-date-form-field [data]="data[16]" [formgroup]="thirdFormGroup"></app-date-form-field>
      <app-text-form-field [data]="data[17]" [formgroup]="thirdFormGroup"></app-text-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button (click)="next(stepper,thirdFormGroup)" [disabled]="thirdFormGroup.invalid">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step completed="false">
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button (click)="submit()">Submit</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
